.navbar {
  opacity: 1;
  transition: opacity 0.5s ease;
  background-color: lightgreen; 
} 

/* Creates our fade effect */
.navbar-hide {
  pointer-events: none;
  opacity: 0;
} 

/* Nav button styling */
.navbar .navbar-nav > li > a {
  color:black;
  padding: 10px;
}

.navbar .navbar-nav > li.active > a {
  color: gray;
  padding: 10px;
  text-decoration: underline;
} 

body {
  padding-top: 70px;
  position: relative;
}

/* Project display styling */


.col-4 {
  background-color: white;
}

.col-8 {
  display: inline;
  text-align: center;
}

.col-12 {
  display: inline;
  text-align: center;
}


.project-title {
  color: black;
  text-decoration: underline;
}

.project-lang {
  color: grey;
}

.github-btn {
  height: auto;
  width: 5%;
}