/* Navbar Styling */
.navbar {
  opacity: 1;
  transition: opacity 0.5s ease;
  background-color: #12232e; 
}

.navbar-hide {
  pointer-events: none;
  opacity: 0;
}

.nav-link {
  padding: 10px;
  color: rgb(206, 206, 206) !important;
}

.active {
  text-decoration: underline;
}

.navbar-brand {
  color: #F6D55C !important;
}

body {
  position: relative;
  background-color:#12232e;
  font: 1.2em "Optima", serif;
  color: rgb(207, 207, 207) ;
}

#content{
    padding-top: 60px;
}

.project-lang {
  color: grey;
  text-align: center;
}

.card-header {
  background-color: #203647;
  color: #EEFBFB;
  text-align: center;
}

.card-body {
  background-color: #203647;

}

.card {
  margin: 10px;
  border-color: #203647;
}

.featured-cards {
  height: 90%;
}

.more-cards {
  height: 100%;
}

.more-footer {
  padding: 0px;
}

.btn-outline-info {
  color: #EEFBFB;
  border: none;
  background-color: #05386B;
}

/* Style the images for cards */
.card-img-top {
  width: auto;
  max-height: 350px;
  object-fit: cover;
  object-position: 0% 0%;
  overflow: hidden;
}

h1 {
  text-align: center;
  padding-bottom: 50px;
}

.card-title {
  text-align: center;
}

p {
  text-align: center;
}

.contact-button {
  height: auto;
  min-width: 42px; /* Minimum width for a button on phone screen */ 
  max-width: 10%;
}

#resume-button {
  width: 50% !important;
  max-width: 50%;
  background-color: #3CAEA3;
}

#resume-button-container {
  padding-bottom: 25px;
}

#connect-links {
  padding-top: 15px;
}

.hide-this {
  display: none;
}

.hidden-message {
  display: none;
}

#alert-msg {
  padding: 25px;
}

#see-more {
  background-color: #3CAEA3;
  width: 50%;
}

.more-button {
  text-align: center;
  padding-top: 25px;
}

.connect-with-me {
  color: #3CAEA3;
  text-decoration: none;
  font-size: 42px;
}

.social:visited {
  color: black;
}

#profile-container {
  max-height: 300px;
  max-width: 300px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 5px;
}

#profile-picture {
  margin-top: -120px;
  margin-left: 100px;
  height: 600px;
  width: auto;
}

#profile-text {
  padding-bottom: 25px;
  width: 90%;
}

#profile-about {
  width: 90%;
}

#header-container {
  padding-top: 25px;
  padding-bottom: 50px;
}

#hello-msg {
  padding-bottom: 25px;
}

#contact-header {
  padding-top: 50px;
  padding-bottom: 50px;
}

#featured-projects-header {
  padding-top: 50px;
}